body{
    background-color: pink;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;

}
form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
h2{
    text-align: center;
}
table{
    background-color: lightblue;
}
#a{
    background-color: bisque;
}
#b{
    background-color: bisque;
}
